/*
 * Copyright (c) 2026 vivo Mobile Communication Co., Ltd.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

ENTRY(_start)

MEMORY
{
  @REGION@ (@PERMISSIONS@) : ORIGIN = @ORIGIN@, LENGTH = @LENGTH@
}

PHDRS
{
  text PT_LOAD FLAGS(5);
  data PT_LOAD FLAGS(6);
}

SECTIONS
{
  .text : ALIGN(4)
  {
    KEEP(*(.text._start))
    *(.text .text.*)
    *(.rodata .rodata.*)
  } > @REGION@ :text

  .data : ALIGN(4)
  {
    *(.sdata .sdata.*)
    *(.data .data.*)
  } > @REGION@ :data

  .bss (NOLOAD) : ALIGN(4)
  {
    *(.sbss .sbss.*)
    *(.bss .bss.*)
    *(COMMON)
  } > @REGION@ :data

  /DISCARD/ :
  {
    *(.eh_frame*)
    *(.comment*)
  }

  ASSERT(SIZEOF(.text) > 0, "EXEC payload has no text")
  ASSERT(. <= ORIGIN(@REGION@) + LENGTH(@REGION@),
         "EXEC payload exceeds configured loader test region")
}
