# Configuration corresponding to architecture 

config SRAM_SIZE
	int "SRAM Size in kB"
	help
	  The SRAM size in kB. 

config SRAM_BASE_ADDRESS
	hex "SRAM Base Address"
	help
	  The SRAM base address. 

config FLASH_BASE_ADDRESS
	hex "Flash Base Address"
	default 0x0
	help
	  The Flash base address.

config FLASH_SIZE
	int "Flash Size in kB"
	default 0
	help
	  The Flash size in kB.

config STACK_SIZE
	int "Stack Size in kB"
	help
	  Stack Size in kB used by Kernel.

config ROMSTART_RELOCATION
	bool "Relocate start region"
	default n
	help
	  Relocates the start region containing the irq vector

if ROMSTART_RELOCATION

	config ROMSTART_ROM_ADDRESS
		hex "Base address of the region"
		default 0x00000000
		help
		  Start address of the region.

	config ROMSTART_ROM_SIZE
		hex "Size of the region"
		default 1
		help
		  Size of the region in KB.

endif
