# Kconfig.test
#
# This Kconfig file is used to configure options for tests, including:
#   - Unit tests
#   - Integration tests
#   - Other test-related cases and infrastructure
#
config UNITTEST_THREAD_NUM
    int "The num of thread used by uniitest."
    default 64
    help
        Set the number of thread used by unittest.
